.add-container{
  width:1000px;
  margin:60px auto;
}
.form__item {
    label{
      display:block;
      margin-bottom:13px;
    }
    input,textarea{
      display: block;
      padding: 10px 10px;
      border: 1px solid black;
      box-sizing: border-box;
    }
    margin: 0;
    margin-bottom: 14px;
    font-size: 14px;
}
  .form__container-two{
    display:flex;
    width:750px;
    justify-content: space-between;
  }
  .form__item select {
    display: block;
    //width: 350px;
    height:38px;
    padding: 10px 10px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 0;
   // background: #ffffff url(../img/dropdown.svg) 328px 16px no-repeat;
  }
  .form__item--wide {
    width: 750px;
    textarea{
      min-height:160px;
    }
  }
  .form__input-file{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:750px;
  }
  .add-price{
    width:120px;
  }
  .item-name{
    width:350px;
  }
  .add-price{
    width:100px;
  }
  .description{
    width:100%;
  }
  .add__button{
    width:200px;
  }
 