.imgInp{
    display:none;
}
.add_editor{
    position:relative;
    cursor: pointer;
    border:2px black solid;
    border-radius: 0 0 20px 20px;
    width:400px;
    padding:10px;
}
.albom-image{
    display:flex;
    flex-wrap: wrap;
    max-width:840px;
    label{
        margin:5px;
    }
}
.image_editor{
    margin:0 auto;
    /* -webkit-filter: brightness(200%);
    -webkit-filter: blur(1px); */
}
.image_editor2{
    position:absolute;
    top: 35%;
    left: 80%;
}
.editor_description{
    display:flex;
    width:700px;
    flex-wrap:wrap;
    justify-content: space-between;
}
.add-price{
    width:160px;
}
.item-city{
    width:300px;
}
.main-editor{
    max-width:900px;
    margin:0 auto;
}
.button_editor{
    text-align: center; 
}
.editor__button{
    padding:20px 34px;
    font-size:26px;
}