.page-footer{
   /*  height:100px; */
    background-color:rgb(245, 245, 245);
   // margin-top:60px;
}
.main__footer{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding:20px 20px;
    max-width:1110px;
    margin:0 auto 0;
}
.social{
    width:150px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;

}
.footer-login{
    position: absolute;
    margin-top:auto;
    left:0;
    bottom:0;
    width:100%;
}

.footer-nav{
    border-bottom:1px solid #e1e6e7;
}
.promo__list{
    width:1110px;
    margin:0 auto;
}
.nav__item, .nav__item-footer{

    a{
        position: relative;
        display:block;
        padding:23px 42px;
    }
}
.nav__item a:hover{
    background-color:rgb(230, 224, 154);;
}
  .nav__item-footer a:active {
    color: #10658f;
  }
  .nav__item-footer a:hover::before {
    display: block;
}
  .nav__item-footer a::before {
    content: "";
    display: none;
    position: absolute;
    bottom: 0;
    left:0px;
    width: 100%;
    height: 3px;
    background-color: #0a9dc5;
  }
.social__link:hover path {
    fill: #45abde;
  }
  .social__link:hover circle {
    stroke: #45abde;
  }
@media(min-width:320px)and(max-width:576px){
  .main-promo{
    height:45px;
  }
  .promo__list{
    /* display:block; */
    margin-top:10px;
    width:100%;
    padding:0 2px;
    font-size:18px; 
}
  .nav__item, .nav__item-footer{
    a{
      font-size:16px;
        padding:5px;
    }
  }
  .main__footer{
    justify-content: space-around;
    .company-contact, .develop{
      display:none;
    }
    .social{
      order:1;
      margin-top:30px;
    }
    .email{
      order:0;
    }
  }
}
