.page-footer{
   /*  height:100px; */
    background-color:rgb(245, 245, 245);
    margin-top:60px;
}
.main__footer{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding:20px 20px;
    max-width:1110px;
    margin:0 auto 0;
}
.social{
    width:150px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;

}
.footer-login{
    position: absolute;
    margin-top:auto;
    left:0;
    bottom:0;
    width:100%;
}

.footer-nav{
    border-bottom:1px solid #e1e6e7;
}
.promo__list{
    width:1110px;
    margin:0 auto;
}
.nav__item{
    a{
        position: relative;
        display:block;
        padding:23px 10px;
    }
}
.social__link:hover path {
    fill: #45abde;
  }
  .social__link:hover circle {
    stroke: #45abde;
  }