.scan{
    position: relative;
    padding:20px;
    max-width:1200px;
    margin:0 auto;
   // margin-top:10px;
  input[type="search"] {
  //  width: 100%;
    padding: 8px 19px 9px 19px;
    border: 1px solid black;
  }
  .scan-btn{
    background-color:red;
    height:40px;
    text-align:center;
    border:none;
    border-radius: 8%;
    padding:9px 26px;
    font-weight: 600;
    color:white;
    margin-left:40px;
  }
  .scan-input{
      width:500px;
  }
  .scan-price{
      width:150px;
      margin-left:10px;
  }
  .label__price{
      margin-left:30px;
  }
}
.hr-shelf {
    padding: 0;
    margin-top:-10px;
	  height: 20px;
	  border: none;
	  border-bottom: 1px solid rgb(199, 199, 199);
	  box-shadow: 0 5px 5px -5px rgb(179, 179, 179);
}
.main-like{
  max-width:1200px;
  margin:0 auto;
  h2{
    padding-left:20px;
  }
}
.lots__list{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding-left:20px;
  padding-bottom:30px;
  li{
    border:1px solid rgb(141, 141, 141);
    padding:10px;
    margin-top:20px;
    min-width:350px;
  }
}

.lot__info{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: center;
}
.container{
  width:1200px;
  margin:60px auto;
  padding:0 15px;
}

.preview{
  display:none;
  position: absolute;
}
.preview__remove {
  position: absolute;
  right: 0;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border: none;
  background-color: transparent;
}

/* .form__item--file label span {
  display: block;
  width: 115px;
  height: 110px;
  background-color: #cbdbab;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  padding: 45px 0;
  box-sizing: border-box;
  border: 1px solid #cbdbab;
  cursor: pointer;
} */
.red__button{
  background-color:red;
  margin-top:20px;
  padding:12px 22px;
  color:white;
  border:none;
  font-size:16px;
  border-radius: 3px;
}
.text-link{
 // margin-left: 20px;
}
.form__container{
  input{
  width:500px;
  }
  .message__text{
    width:500px;
    resize: none;
  }
}
.container-register{
  width:900px;
  margin:60px auto;
  padding:0 15px;
}
.message__text{
  height:120px;
}
.like{
  position: relative;
  top:58px;
  margin-right:20px;
  padding:20px;
  width:30px;
  height:30px;
  background-color: white;
  background-image:url("/build/img/like.svg");
  //background-position:top;
  background-repeat: no-repeat;
  border:none;
  outline: none;
  border-radius:100%;
}

.like:active{
  transform: translateY(-1px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scaleX(1.1) scaleY(1.1);
  //font-size:19px;
  margin-right:23px;
  opacity:1;
}
.like:hover{
  opacity:0.8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.like-counter{
  position: relative;
  top:55px;
  right:22px;
}

.count__like{
 position: relative;
  border:none;
  top:-6px;
  width:30px;
  height:30px;
  padding-left:30px;
}

.modal {
  position: fixed;
  /* фиксированное положение */
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  /* цвет фона */
  z-index: 1050;
  opacity: 0;
  /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  /* анимация перехода */
  pointer-events: none;
  /* элемент невидим для событий мыши */
}

  .modal:target {
      opacity: 1;
      pointer-events: auto;
      overflow-y: auto;
  }
  
  /* ширина модального окна и его отступы от экрана */
  .modal-dialog {
      position: relative;
      width: auto;
      //margin: 29%;
      margin-top:70px;
      margin-left:35%;
     // margin-right:10%;
      max-width:460px;
  }
  .modal-content {
      position: relative;
     // top:40px;
     //    left:100%;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: .3rem;
      outline: 0;
      padding:20px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      border-bottom: 1px solid #eceeef;
  }
  .modal-title {
      text-align: center;
      margin:0 auto;
      line-height: 1.5;
      font-size: 28px;
      font-weight: 500;
      padding-left:10px;
  }
  .modal-text{
      margin-top:10px;
      display:flex;
      justify-content: space-between;
      line-height: 1.5;
      font-size: 1.25rem;
      font-weight: 500;
      min-width:160px;
      max-height:50px;
  }
  .modal-body{
      padding-top:15px;
  }
  .form_button{
      display:flex;
      justify-content: space-between;
      line-height: 1.5;
      font-size: 1.25rem;
      .text-register{
          font-size:20px;
          padding-top:25px;
          margin-right:15%;
      }
      .button__login{
          font-size:19px;
      }
  }
  
  .close {
      float: right;
      font-family: sans-serif;
      font-size: 50px;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .5;
      text-decoration: none;
  }