.scan{
    position: relative;
    padding:20px;
    max-width:1200px;
    margin:0 auto;
   // margin-top:10px;
  input[type="search"] {
  //  width: 100%;
    padding: 8px 19px 9px 19px;
    border: 1px solid black;
  }
  .scan-btn{
    background-color:red;
    height:40px;
    text-align:center;
    border:none;
    border-radius: 8%;
    padding:9px 26px;
    font-weight: 600;
    color:white;
    margin-left:40px;
  }
  .scan-input{
      width:500px;
  }
  .scan-price{
      width:150px;
      margin-left:10px;
  }
  .label__price{
      margin-left:30px;
  }
}
.hr-shelf {
    padding: 0;
    margin-top:-10px;
	  height: 20px;
	  border: none;
	  border-bottom: 1px solid rgb(199, 199, 199);
	  box-shadow: 0 5px 5px -5px rgb(179, 179, 179);
}
.main-like{
  max-width:1200px;
  margin:0 auto;
  h2{
    padding-left:20px;
  }
}
.lots__list{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding-left:20px;
  padding-bottom:30px;
  li{
    border:1px solid rgb(141, 141, 141);
    padding:11px;
    margin-top:20px;
    min-width:350px;
  }
}

.lot__info{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: center;
}
.container{
  width:1200px;
  margin:60px auto;
  padding:0 15px;
}

.preview{
  display:none;
  position: absolute;
}
.preview__remove {
  position: absolute;
  right: 0;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border: none;
  background-color: transparent;
}

/* .form__item--file label span {
  display: block;
  width: 115px;
  height: 110px;
  background-color: #cbdbab;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  padding: 45px 0;
  box-sizing: border-box;
  border: 1px solid #cbdbab;
  cursor: pointer;
} */
.red__button{
  background-color:red;
  margin-top:20px;
  padding:12px 22px;
  color:white;
  border:none;
  font-size:16px;
  border-radius: 3px;
}
.text-link{
 // margin-left: 20px;
}
.form__container{
  input{
  width:500px;
  }
  .message__text{
    width:500px;
    resize: none;
  }
}
.container-register{
  width:900px;
  margin:60px auto;
  padding:0 15px;
}
.message__text{
  height:120px;
}
.like{
  position: relative;
  top:90px;
  margin-right:20px;
  padding:20px;
  width:30px;
  height:30px;
  background-color: white;
  background-image:url("/build/img/like.svg");
  //background-position:top;
  background-repeat: no-repeat;
  border:none;
  outline: none;
  border-radius:100%;
}

.like:active{
  transform: translateY(-1px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scaleX(1.1) scaleY(1.1);
  //font-size:19px;
  margin-right:23px;
  opacity:1;
}
.like:hover{
  opacity:0.8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.like-counter{
  position: relative;
  top:55px;
  right:22px;
}

.count__like{
 position: relative;
  border:none;
  top:-6px;
  width:30px;
  height:30px;
  padding-left:30px;
}
.lot__image{
  display:flex;
  max-width:550px;
}
.parent-del{
  //z-index:1;
  width:2px;
  padding:0;
  margin:0;
}
.delete_hotel{
  position:relative; 
  z-index:12;
  top:-26px;
  left:-10px;
  margin:0 auto;
  max-width:30px;
  //background-color:white;
}
.dop-del{
  position:relative;
  top:-55px;
  padding:7px;
  padding-bottom:4px;
  left:-7px;
  height:6px;
  z-index:10;
  font-size:10;
  color:white;
  background-color:white;
}
.hotel-image{
  z-index:2;
}