 .container-register{
    width:600px;
    margin:60px auto 0;
    padding:0 15px;
}
.sign-up__button{
    display:flex;
    justify-content: space-between;
    margin-top:20px;
} 
.form__container{
    input, .message__text{
        width:100%;
    }
}
.text-link{
    margin-top:10px;
}